{% load static %}

<link href="{% static 'css/navbar-href.css' %}" rel="stylesheet" type="text/css">


<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         <!--  <a class="nav-link active" aria-current="page" href="#" style="color: #FFC0CB;">Home</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" >Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>

      </ul>
      
      <div class="head-name">
        <span  style="color:#FFC0CB;font-family:Impact;font-size:32px; text-shadow: -2px 2px 2px #c048c2; transform: 10%;">
          <a href="/" style="color: #FFC0CB; text-decoration: none;">BLABLASHOP</span></a>
      
      </div>
      <ul style="text-decoration: none;" class="navbar-nav me-auto mb-2 mb-lg-0 ">
        
        <li>
         <div class="basket-container">
           
            <a href="/shopingcart/" style="text-decoration: none; color: #937cf2; font-size: 30px;">Корзина <span id="basket_total"></span></a>
            <div class="basket-items hidden">
              <ul class="">
                <li></li>
                
              </ul>
         
         </div>



        </div>
      </li>
        
      
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit" style="background: #4645b0; border: none;" >Search</button>
      </form> -->
    </div>
  </div>
</nav>